/* styles.css */

/* Set the background color to white */
body {
  background-color: #ffffff;
}

/* Set the text color to dark green */
body, h1, h2, h3, p, input, select, option, label {
  color: #045034;
}



/* -------------------------- HEADER*/

.logo {
  width: 100px; /* Adjust the width as per your logo size */
  height: 100px; /* Adjust the height as per your logo size */
  margin-right: 10px; /* Adjust the margin as per your desired spacing */
}

/* Set the font family to Montserrat */
body {
  font-family: "Montserrat", sans-serif;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #045034;
  color: #ffffff !important;
  padding: 10px;
  text-align: center;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* This makes the div take all the remaining space */
}

.header-bar h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff !important;
}

.header-right {
  display: flex;
  align-items: center;
  padding-right: 60px; /* Adjust the padding value as per your requirement */
}

.user-icon {
  width: 32px;  /* or the size you want */
  height: 32px;  /* or the size you want */
}

.username {
  font-size: 16px;
  color: #ffffff; /* set username to white */
}

.header-bar img {
margin-right: 10px;
}


.user-icon {
  width: 32px;  /* or the size you want */
  height: 32px;  /* or the size you want */
}

.username {
  font-size: 16px;
  color: #ffffff; /* set username to white */
}

.header-bar img {
margin-right: 10px;
}



/* -------------------------- CUSTOM FORM CHECKS*/

.form-check-label {
    margin-left: 10px;
}

.selection-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

/* Your existing styles */
.purpose-checkbox {
  display: inline-block;
}

.form-check-input {
  transform: scale(1.5); 
}

.form-check-input:checked {
  background-color: #045034 !important; 
}

.custom-button {
  background-color: #045034;
  border-color: #045034;
  margin-bottom: 120px;
}

.checkbox-container {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.checkbox-container label {
  color: black;
}

/* Add custom checkbox design */
/* Hide the default checkbox */
.custom-checkbox {
display: none;
}

/* Create a custom checkbox */
.custom-checkbox + label:before {
content: '';
display: inline-block;
width: 20px;
height: 20px;
border: 2px solid #045034; 
border-radius: 3px;
margin-right: 10px;
vertical-align: middle;
}

/* Customize the color of the checkbox when checked */
.custom-checkbox:checked + label:before {
  background-color: #045034; /* This is your checkbox color when checked */
}

/* Add a white checkmark when the checkbox is checked */
.custom-checkbox:checked + label:after {
  content: '\2713';
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 15px;
  top: 2px; 
}



/* -------------------------- Chat window*/

#chatTabs {
    position: relative;
    display: none;
}

#chatTabs2, #chatTabs3 {
  position: relative;
}

#chatTab {
  display: none;
}

.chatBox{
  display: none;
}

.nav-link {
  color: #045034 !important;
}

.nav-link.active {
  color: white !important;
  background-color: #045034 !important;
}


/* -------------------------- DROPZONE*/

.dropzone {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

background-color: #f8f9fa;
border: 2px solid #045034;
border-radius: 8px;
font-size: 24px;
color: #343a40;
cursor: pointer;
padding: 20px;
text-align: center; /* To center text alignment */
width: 100%;
}

.dropzone i {
text-align: center;
font-size: 48px;
margin-bottom: 16px;
}


.dropzone.uploaded {
  animation: uploaded 1s;
}

@keyframes uploaded {
  0% { background-color: white; }
  50% { background-color: lightgreen; }
  100% { background-color: white; }
}


/* -------------------------- SLIDER*/

/* CSS for the range slider */
input[type="range"] {
-webkit-appearance: none;
width: 100%;
height: 5px;
background-color: #045034;
outline: none;
opacity: 0.7;
-webkit-transition: opacity 0.2s;
transition: opacity 0.2s;
}

/* CSS for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background-color: #045034;
cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
width: 15px;
height: 15px;
background-color: #045034;
cursor: pointer;
}


/* -------------------------- LOADING SPINNER*/

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Put the modal on top of everything else */
}

#hint-text {
  margin-top: 20px; /* Adjust this to increase/decrease space between spinner and hints */
  color: white;
  text-align: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;  
}


.loading-screen {
  display: flex;
  flex-direction: column;  /* New line: stack children vertically */
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #045034;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform-origin: center;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;

}

.loading-spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url('https://i.imgur.com/YVsEulW.png');
  background-size: contain;
  opacity: 0;
  animation: fade 6s ease-in-out infinite;
}

.loading-spinner:hover {
  transform: scale(1);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}




/* -------------------------- Stuff*/



.side-container {
  margin-top: 5.7%; /* Adds space to the left outside the new container */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 10px 0;
}

.btn {
  background-color: #045034 !important;
  color: #ffffff !important; /* You might want to change the button text color so it contrasts with the button color */
}