/* styles.css */

/* Set the background color to dark green */
body {
    background-color: #ffffff;
  }
  
  /* Set the text color to white */
  body, h1, h2, h3, p, input, select, option, label {
    color: #045034;
  }
  
  .logo {
    width: 100px; /* Adjust the width as per your logo size */
    height: 100px; /* Adjust the height as per your logo size */
    margin-right: 10px; /* Adjust the margin as per your desired spacing */
  }

  /* Set the font family to Montserrat */
  body {
    font-family: "Montserrat" sans-serif;
  }

  .header-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #045034;
    color: #ffffff !important;
    padding: 10px;
    text-align: center;
  }
  
  .header-bar h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff !important;
    text-align: center;
  }
  .header-bar img {
  margin-right: 10px;
}

.form-check-label {
    margin-left: 10px;
}

.selection-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.purpose-checkbox {
    display: inline-block;
}

  /* Custom styles for checkboxes */
  .form-check-input {
    transform: scale(1.5); /* Increase the size of the checkboxes */
  }

  .form-check-input:checked {
    background-color: #045034 !important; /* Change the background color of checked checkboxes to green */
  }

.custom-button {
    background-color: #045034;
    border-color: #045034;
  }

.checkbox-container {
    background-color: #f8f9fa;
    border: 1px solid #045034;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.checkbox-container label {
    color: black;
  }

#chatTabs {
    position: relative;
    display: none;
}

#chatTabs2, #chatTabs3 {
  position: relative;
}

#chatTab {
  display: none;
}



.chatBox{
  display: none;
}
.dropzone {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:50px;
background-color: #f8f9fa;
border: 2px solid #045034;
border-radius: 8px;
font-size: 24px;
color: #343a40;
cursor: pointer;
}

.dropzone i {
font-size: 48px;
margin-bottom: 16px;
}


/* CSS for the range slider */
input[type="range"] {
-webkit-appearance: none;
width: 100%;
height: 5px;
background-color: #045034;
outline: none;
opacity: 0.7;
-webkit-transition: opacity 0.2s;
transition: opacity 0.2s;
}

/* CSS for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background-color: #045034;
cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
width: 15px;
height: 15px;
background-color: #045034;
cursor: pointer;
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;  
}


.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;

}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #045034;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform-origin: center;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;

}

.loading-spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url('https://i.imgur.com/YVsEulW.png');
  background-size: contain;
  opacity: 0;
  animation: fade 6s ease-in-out infinite;
}

.loading-spinner:hover {
  transform: scale(1);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.side-container {
  margin-top: 5.7%; /* Adds space to the left outside the new container */
}

.dropzone.uploaded {
  animation: uploaded 1s;
}

@keyframes uploaded {
  0% { background-color: white; }
  50% { background-color: lightgreen; }
  100% { background-color: white; }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 10px 0;
}